.container{
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
    max-width: 37.5rem;
    border-radius: 1.5rem;
    background-image: radial-gradient(circle at 50% 0, #232a34, #181e27 90%)
}
.star{
    width: 100px;
    height: 100px;
    background-color: #262e38;
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.starImg{
position: absolute;
}
.title{
    font-size: 2.4rem;
    margin-top:1.6rem ;
    color: white;

}
.description{
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #969fad;
}
.rate{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}
.circle{
    width: 4.2rem;
    height: 4.2rem;
    background-color: #262e38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.circle p{
    color: #7c8798;
    font-size: 14px;
  font-weight: bold;
  border: none;
}
.circle:hover{
    background-color: #fc7614;

}
.circle p:hover{
    color: white;
}
.submit{
    margin-top: 2.4rem;
    height: 4.5rem;
    width: 27.9rem;
    border-radius: 2.25rem;
    background-color: #fc7614;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.87px;
}
.submit:hover{
    background-color: white;
    color: #fc7614;
}